# Web Scraping

In [ ]:
import requests
from bs4 import BeautifulSoup
import html5lib
import pandas as pd
import numpy as np

In [ ]:
url=requests.get('https://www.arabam.com/')
# print(url.text)

In [ ]:
soup=BeautifulSoup(url.content,"html5lib")
print(soup.title.text)

arabam.com: 2. El ve 0 Km Satılık Araç İlanları Platformu

In [77]:
List =soup.find_all('div',{'class':'col-lg-2 col-md-3 col-xs-6'})

In [98]:
city,year,model,price=[],[],[],[]

In [99]:
for i in List:
  if i.find('p',{'class':"model-city"})!=None:
    city.append(i.find('p',{'class':"model-city"}).text)
  if i.find('p',{'class':"model-year"})!=None:
    year.append(i.find('p',{'class':"model-year"}).text)
  if i.find('h4',{'class':"model-name"})!=None:
    model.append(i.find('h4',{'class':"model-name"}).text)
  if i.find('div',{'class':"price"})!=None:
    price.append(i.find('div',{'class':"price"}).text)

In [100]:
keys=['model','year','city','price']
values=[model,year,city,price]
dictionary = dict(zip(keys, values))

df = pd.DataFrame.from_dict(dictionary)
df

                                      model  year      city       price
0    BMW 2 Serisi 216d Gran Coupe Firs...    2020  İstanbul  490.553 TL
1    Volkswagen Tiguan 1.4 TSI Comfort...    2016     Konya  282.000 TL
2                        Mazda 626 2.0 GLX   1998     Düzce   56.750 TL
3             Dacia Dokker 1.5 DCi Stepway   2017     Muğla  124.500 TL
4    Volkswagen Polo 1.2 TSi Comfortli...    2016     İzmir  169.000 TL
5    Volkswagen Passat 1.4 TSi BlueMot...    2017  İstanbul  265.000 TL
6    Volkswagen Scirocco 1.4 TSi Sport...    2015    Yozgat  242.500 TL
7             Renault Megane 1.6 Dynamique   2005     Aydın   80.000 TL
8                        Mazda 626 2.0 GLX   1994     Düzce   57.500 TL
9    Volkswagen Amarok 2.0 BITDI Highl...    2017      Ordu  342.000 TL
10             Renault Kadjar 1.5 dCi Icon   2015    Ankara  230.000 TL
11                    Rover 45 1.6 Classic   2004    Mersin   47.000 TL
12              Mitsubishi L 200 4x2 Storm   2015   Denizli  185.000 TL
13       Audi A3 Sedan 1.4 TFSI Attraction   2013  İstanbul  262.000 TL
14        BMW 5 Serisi 525d xDrive Comfort   2012  İstanbul  412.500 TL
15             Ford Focus 1.5 TDCi Trend X   2018   Denizli  205.000 TL

## Data Cleaning and Feature Engineering

In [106]:
df

                                      model  year      city    price
0    BMW 2 Serisi 216d Gran Coupe Firs...    2020  İstanbul  490.553
1    Volkswagen Tiguan 1.4 TSI Comfort...    2016     Konya  282.000
2                        Mazda 626 2.0 GLX   1998     Düzce   56.750
3             Dacia Dokker 1.5 DCi Stepway   2017     Muğla  124.500
4    Volkswagen Polo 1.2 TSi Comfortli...    2016     İzmir  169.000
5    Volkswagen Passat 1.4 TSi BlueMot...    2017  İstanbul  265.000
6    Volkswagen Scirocco 1.4 TSi Sport...    2015    Yozgat  242.500
7             Renault Megane 1.6 Dynamique   2005     Aydın   80.000
8                        Mazda 626 2.0 GLX   1994     Düzce   57.500
9    Volkswagen Amarok 2.0 BITDI Highl...    2017      Ordu  342.000
10             Renault Kadjar 1.5 dCi Icon   2015    Ankara  230.000
11                    Rover 45 1.6 Classic   2004    Mersin   47.000
12              Mitsubishi L 200 4x2 Storm   2015   Denizli  185.000
13       Audi A3 Sedan 1.4 TFSI Attraction   2013  İstanbul  262.000
14        BMW 5 Serisi 525d xDrive Comfort   2012  İstanbul  412.500
15             Ford Focus 1.5 TDCi Trend X   2018   Denizli  205.000

In [101]:
df['price']=df['price'].apply(lambda x:x.rstrip(' TL').strip())
# df['actors']=df['dir_actors'].str.split(',').apply(lambda x:[i.strip() for i in x[1:]])

In [108]:
df.year=df.year.astype(int)
df.price=df.price.astype(float)

In [109]:
df.head()

                                     model  year      city    price
0   BMW 2 Serisi 216d Gran Coupe Firs...    2020  İstanbul  490.553
1   Volkswagen Tiguan 1.4 TSI Comfort...    2016     Konya  282.000
2                       Mazda 626 2.0 GLX   1998     Düzce   56.750
3            Dacia Dokker 1.5 DCi Stepway   2017     Muğla  124.500
4   Volkswagen Polo 1.2 TSi Comfortli...    2016     İzmir  169.000

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   16 non-null     object
 1   year    16 non-null     int64
 2   city    16 non-null     object
 3   price   16 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 640.0+ bytes

In [111]:
df.to_csv('cars.csv', index=False,sep=';',float_format='%.1f')